<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/style/main.css">
    <link rel="stylesheet" href="../assets/style/calculator.css">
    <link rel="stylesheet" href="../assets/style/display.css">
    <link rel="stylesheet" href="../assets/style/button.css">
    <title>Calculator JS</title>
</head>
<body>
    <h1>JavaScript</h1>
    <h3>Calculator</h3>
    <div class="calculator">
        <div class="display">0</div>
        <button class="button double-space" onclick="clean()">AC</button>
        <button class="button" onclick="signal()">-/+</button>
        <button class="button operation" onclick="clickOperator(value)" value="/">/</button>
        <button class="button" onclick="clickButton(value)" value="7">7</button>
        <button class="button" onclick="clickButton(value)" value="8">8</button>
        <button class="button" onclick="clickButton(value)" value="9">9</button>
        <button class="button operation" onclick="clickOperator(value)" value="*">*</button>
        <button class="button" onclick="clickButton(value)" value="4">4</button>
        <button class="button" onclick="clickButton(value)" value="5">5</button>
        <button class="button" onclick="clickButton(value)" value="6">6</button>
        <button class="button operation" onclick="clickOperator(value)" value="-">-</button>
        <button class="button" onclick="clickButton(value)" value="1">1</button>
        <button class="button" onclick="clickButton(value)" value="2">2</button>
        <button class="button" onclick="clickButton(value)" value="3">3</button>
        <button class="button operation" onclick="clickOperator(value)" value="+">+</button>
        <button class="button triple-space" onclick="clickButton(value)" value="0">0</button>
        <button class="button operation" onclick="showResult()">=</button>

        <script src="../assets/js/logic.js"></script>
    </div>
</body>
</html>