@font-face {
    font-family: 'RobotoMono';
    src: url(../fonts/RobotoMono-Thin.ttf);
}
  
* {
    font-family: 'RobotoMono', monospace;
}

body {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: #fff;

    background: linear-gradient(to right, #232526, #414345);
    /* background: linear-gradient(to right, #757F9A, #D7DDE8); */
    /* background: linear-gradient(to right, #1F1C2C, #928DAB); */
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h3 {
    margin: 0;
    margin-bottom: 2px;
}